{% extends "base_template.html" %}

{% block title %}<title>Статистика по годам</title>{% endblock %}


{% block content %}
    <h1>Статистика по годам</h1>

    <form action="plot/" method="GET">
        <button type="submit" name="stat" value="year">Статистика по годам</button>
        <button type="submit" name="stat" value="season">Статистика по сезонам</button>
        <button type="submit" name="stat" value="month">Статистика по месяцам</button>
    </form>

    <!-- <form action="plot/" method="GET">
        {{ form }}
        <input type="submit" value="Поиск">
    </form> -->
    <br>
    <div class="grapthic-stat">
        {% if graphic %}
            <img src="data:image/png;base64,{{ graphic }}" alt="Data bars">
        {% else %}
            {{ message }} 
        {% endif %}
    </div>

{% endblock %}